/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/*Colors*/
:root {
  --basic_black: #000000;
  --basic_black-2: #22262A;
  --basic_red: #CF2929;
  --basic_white: #FFFFFF;
  --basic_light_blue: #F2F8FC;
  --special_light_blue: #E7F5F8;
  --special_gray: #E5E5E5;
}

/*Global*/

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*Fonts*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

/*Page*/

.page {
  height: 100%;
  font-family: "Poppins", "DejaVu Sans", "Geneva", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: var(--basic_black-2);
  background-color: var(--special_gray);
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}

.page-header {
  padding-left: 229px;
  padding-right: 235px;
  padding-top: 27px;
  padding-bottom: 29px;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  background-color: var(--basic_white);
  border-radius: 60px 60px 0 0;
  gap: 10px;
}

@media (max-width: 1172px) {
  .page-header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  .page-header {
    padding-left: 35px;
    padding-right: 35px;
    grid-template-columns: -webkit-min-content 1fr 1fr;
    grid-template-columns: min-content 1fr 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    justify-content: left;
  }

  .page-header img {
    justify-self: center;
  }
}

/*Main-nav*/

@media (max-width: 768px) {
  .main-nav {
    grid-row: 2;
    grid-column: span 3;
    display: none;
    padding-top: 10px;
    padding-bottom: 3px;
  }

  .main-nav--opened,
  .main-nav--nojs {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
}

@media (max-width: 768px) {
  .main-nav__list {
    flex-direction: column;
  }
}

.main-nav__item {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-nav__item {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: solid 1px;
  }
}

.main-nav__item:hover,
.main-nav__item:focus {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

/*Toggle*/
.toggle {
  display: none;
}

@media (max-width: 768px) {
  .toggle {
    display: block;
    width: 24px;
    height: 18px;
    padding: 0;
    position: relative;
    border: 0;
    background-color: inherit;
    z-index: 2;
    cursor: pointer;
  }

  .toggle::before {
    transform: rotate(45deg);
  }

  .toggle::after {
    transform: rotate(-45deg);
  }

  .toggle::after,
  .toggle::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #000;
    box-shadow: none;
  }

  .toggle--closed {
    width: 24px;
    height: 16px;
  }

  .toggle--closed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #000;
    box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
    transform: none;
  }

  .toggle--closed::after {
    transform: none;
  }
}

/*Trend-block*/

.trend-block {
  position: relative;
  line-height: 0;
}

.trend-block img {
  max-height: 745px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% top;
     object-position: 20% top;
  width: 100%;
}

.trend-block-wrapper {
  position: absolute;
  top: 59%;
  right: 14.9%;
}

@media (max-width: 1172px) {
  .trend-block-wrapper {
    top: 45%;
  }
}

@media (max-width: 768px) {
  .trend-block-wrapper {
    top: 20%;
    right: 10px;
  }
}

.trend-block__title {
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 3px;
}

.trend-block__trend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
}

@media (max-width: 768px) {
  .trend-block__trend {
    font-size: 18px;
    line-height: 22px;
  }
}

.trend-block__text {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 41px;
  padding-top: 6px;
}

.trend-block__link {
  font-weight: 500;
  font-size: 18px;
  margin-right: 34px;
  display: inline-block;
  text-align: center;
  min-width: 139px;
}

@media (max-width: 768px) {

  .trend-block__title,
  .trend-block__text,
  .trend-block__link {
    font-size: 12px;
    line-height: 20px;
    margin-right: 20px;
  }
}

/*Category*/

.category {
  background-color: var(--basic_white);
  padding-top: 123px;
  padding-bottom: 114px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
}

@media (max-width: 768px) {
  .category {
    padding-top: 80px;
  }
}

.category__name {
  position: absolute;
  top: 638px;
  left: 52.6%;
  display: inline-block;
  min-width: 195px;
  text-align: center;
}

@media (max-width: 1172px) {
  .category__name {
    top: 67%;
  }
}

@media (max-width: 768px) {
  .category__name {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.category__images-wrapper {
  display: grid;
  grid-template-columns: 262px 262px 552px;
  -moz-column-gap: 28px;
       column-gap: 28px;
  row-gap: 23px;
  justify-content: center;
}

@media (max-width: 1172px) {
  .category__images-wrapper {
    grid-template-columns: 262px 262px;
  }
}

@media (max-width: 768px) {
  .category__images-wrapper {
    grid-template-columns: minmax(auto, 262px) minmax(auto, 262px);
  }
}

.category__image-man-1 {
  grid-column: span 2;
  max-height: 286px;
}

.category__image-man-2 {
  grid-row: span 2;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  max-height: 574px;
}

@media (max-width: 1172px) {
  .category__image-man-2 {
    grid-column: span 2;
  }
}

.category__image-girl-1,
.category__image-girl-2 {
  max-height: 265px;
}

/*Button*/

.button {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic_black-2);
  color: var(--basic_white);
  padding: 4px;
  cursor: pointer;
  z-index: 3;
}

@media (max-width: 768px) {
  .button {
    font-size: 13px;
    line-height: 20px;
  }
}

.button:hover,
.button:focus {
  background-color: var(--basic_black);
}

.button:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .button--white {
    background-color: var(--basic_white);
    color: var(--basic_black-2);
  }

  .button--white:hover,
  .button--white:focus {
    background-color: var(--special_gray);
  }

  .button--white:active {
    opacity: 0.6;
  }
}

/*Selection*/

.selection {
  background-color: var(--basic_white);
  padding-left: 20px;
  padding-right: 20px;
}

.selection__for-womens {
  padding-bottom: 111px;
}

.selection__for-mens {
  padding-bottom: 110px;
}

.selection__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.selection__text {
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  padding-top: 15px;
}

.selection__list-womens,
.selection__list-mens {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
}

.selection__list-womens {
  padding-top: 65px;

}


.selection__list-mens {
  padding-top: 72px;
}

.selection__item img {
  max-height: 371px;
}

.selection__item-wrapper {
  font-size: 15px;
  line-height: 22.5px;
  position: relative;
}

.selection__item-wrapper h3 {
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 3px;

}

.selection__list-womens .selection__item-wrapper h3 {
  padding-top: 36px;
}

.selection__list-mens .selection__item-wrapper h3 {
  padding-top: 28px;
}

.selection__item-wrapper p {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 3px;
  max-width: 268px;
}

.selection__item-wrapper span {
  font-weight: 400;
  padding-left: 4px;
}

.selection__item-wrapper span::before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 66px;
  height: 1px;
  background: var(--basic_black-2);
  z-index: 2;
}

.selection__item-wrapper span::after {
  content: "$129.00";
  padding-left: 28px;
  text-decoration: none;
  color: var(--basic_red);
}

/*Block-styles*/

.block-styles {
  background-color: var(--basic_white);
  padding-bottom: 94px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  position: relative;
}

@media (max-width: 1172px) {
  .block-styles {
    padding-bottom: 357px;
  }
}

@media (max-width: 768px) {
  .block-styles {
    padding-bottom: 121px;
  }
}

.block-styles__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 15px;
}

.block-styles__text {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 60px;
}

.block-styles__link {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;
  left: 223px;
  bottom: 68px;
  border-bottom: 1px solid var(--basic_black-2);
  z-index: 2;
}

@media (max-width: 1172px) {
  .block-styles__link {
    position: relative;
    top: 170px;
    left: -50px;
  }
}

@media (max-width: 768px) {
  .block-styles__link {
    position: relative;
    top: 10px;
    left: 0;
  }
}

.block-styles__link:hover,
.block-styles__link:focus {
  opacity: 0.6;
}

.block-styles__link:active {
  opacity: 0.3;
}

.block-styles__images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 689px;
  max-width: 1133px;
  position: relative;
}

@media (max-width: 1172px) {
  .block-styles__images {
    max-width: 600px;
    min-height: auto;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .block-styles__images {
    width: auto;
  }
}

.block-styles__image-1 {
  align-self: flex-end;
  margin-right: 29px;
  max-height: 652px;
  margin-bottom: -6px;
}

@media (max-width: 1172px) {
  .block-styles__image-1 {
    align-self: flex-start;
    margin-right: 0;
    margin-bottom: 22px;
  }
}

.block-styles__image-2 {
  align-self: flex-start;
  max-height: 451px;
}

.block-styles__image-3 {
  align-self: flex-end;
  position: absolute;
  left: 78%;
  border-left: 22px solid var(--basic_white);
  border-top: 22px solid var(--basic_white);
  max-height: 281px;
  z-index: 2;
}

@media (max-width: 1172px) {
  .block-styles__image-3 {
    left: 55%;
    top: 94%;
  }
}

@media (max-width: 768px) {
  .block-styles__image-3 {
    position: relative;
    left: 0;
    top: 0;
    border-left: none;
    border-top: none;
    margin-top: 22px;
  }
}

/*Collection-link*/

.collection-link {
  font-weight: 500;
  line-height: 0;
  position: relative;
}

.collection-link img {
  max-height: 745px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
  width: 100%;
}

.collection-link span {
  font-size: 80px;
  line-height: 120px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .collection-link span {
    font-size: 18px;
    line-height: 38px;
  }
}

.collection-link p {
  text-transform: uppercase;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .collection-link p {
    font-size: 12px;
    line-height: 20px;
  }
}

.collection-link a {
  display: inline-block;
  min-width: 206px;
  text-align: center;
  margin-top: 6px;
}

.collection-link__wrapper {
  position: absolute;
  top: 445px;
  left: 230px;
}

@media (max-width: 1172px) {
  .collection-link__wrapper {
    top: 55%;
    left: 100px;
  }
}

@media (max-width: 768px) {
  .collection-link__wrapper {
    left: 20px;
    top: 30%;
  }
}

/*Footer*/

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: dense;
  background-color: var(--basic_light_blue);
  padding-top: 115px;
  padding-bottom: 85px;
  padding-left: 228px;
  padding-right: 231px;
}

@media (max-width: 1172px) {
  .page-footer__wrapper {
    grid-template-columns: 1fr;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 768px) {
  .page-footer__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-footer__contacts {
  padding-right: 161px;
  padding-top: 10px;
}

@media (max-width: 1172px) {
  .page-footer__contacts {
    padding-right: 0;
  }
}

.page-footer__contacts p,
.page-footer__contacts address,
.page-footer__contacts a,
.page-footer__contacts span {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
}

@media (max-width: 768px) {

  .page-footer__contacts p,
  .page-footer__contacts address,
  .page-footer__contacts a,
  .page-footer__contacts span {
    font-size: 13px;
    line-height: 18px;
  }
}

.page-footer__contacts p {
  padding-top: 17px;
  padding-bottom: 41px;
}

.page-footer__contacts address {
  font-style: normal;
  padding-bottom: 16px;
  padding-left: 26px;
  position: relative;
}

.page-footer__contacts address::before {
  content: "";
  position: absolute;
  z-index: 2;
  background: url(../img/svg/location.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  left: 0;
  top: 2px;
}

.page-footer__contacts a {
  border-bottom: solid 1px var(--basic_black);
  padding-bottom: 3px;
}

.page-footer__contacts span {
  display: block;
  padding-top: 7px;
  padding-bottom: 16px;
}

.page-footer__information {
  padding-left: 33px;
}

@media (max-width: 1172px) {
  .page-footer__information {
    padding-top: 60px;
    padding-left: 0;
  }
}

.page-footer__form {
  padding-bottom: 70px;
}

.page-footer__form form {
  position: relative;
}

.page-footer__form h2 {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 37.5px;
  font-weight: 700;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .page-footer__form h2 {
    font-size: 16px;
  }
}

.page-footer__form input {
  width: 100%;
  padding-top: 11px;
  padding-right: 60px;
  padding-bottom: 11px;
  padding-left: 24px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  color: inherit;
  box-sizing: border-box;
  opacity: 1;
}

.page-footer__form button {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  border: none;
  background-color: inherit;
  position: absolute;
  padding: 0;
  right: 23px;
  top: 11px;
  cursor: pointer;
}

.page-footer__form button:hover,
.page-footer__form button:focus {
  opacity: 0.8;
}

.page-footer__form button:active {
  opacity: 0.3;
}

.page-footer__information-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .page-footer__information-list {
    padding-right: 5px;
  }
}

.page-footer__information-list h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 27px;
}

@media (max-width: 768px) {
  .page-footer__information-list h3 {
    font-size: 16px;
  }
}

.page-footer__information-list li {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  padding-bottom: 21px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .page-footer__information-list li {
    font-size: 13px;
  }
}

.page-footer__copyright {
  padding: 35px 30px;
  background-color: var(--special_light_blue);
  text-align: center;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  border-radius: 0 0 60px 60px;
}

@media (max-width: 1172px) {
  .page-footer__copyright {
    font-size: 12px;
  }
}
