/*Colors*/
:root {
  --basic_black: #000000;
  --basic_black-2: #22262A;
  --basic_red: #CF2929;
  --basic_white: #FFFFFF;
  --basic_light_blue: #F2F8FC;
  --special_light_blue: #E7F5F8;
  --special_gray: #E5E5E5;
}

/*Global*/

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*Fonts*/

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local("Poppins"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local("Poppins"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url("../fonts/Poppins-SemiBold .woff2") format("woff2"), url("../fonts/Poppins-SemiBold .woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

/*Page*/

.page {
  height: 100%;
  font-family: "Poppins", "DejaVu Sans", "Geneva", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: var(--basic_black-2);
  background-color: var(--special_gray);
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
}

.page-header {
  padding-left: 239px;
  padding-right: 235px;
  padding-top: 27px;
  padding-bottom: 29px;
  padding: 27px 15% 29px 15%;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  background-color: var(--basic_white);
  border-radius: 60px 60px 0 0;
}


/*Main-nav*/

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
}

.main-nav__item {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.main-nav__item:hover,
.main-nav__item:focus {
  opacity: 0.6;
}

.main-nav__item:active {
  opacity: 0.3;
}

/*Trend-block*/

.trend-block {
  background-color: var(--special_light_blue);
  position: relative;
  line-height: 0;
}

.trend-block img {
  height: 745px;
  object-fit: cover;
  object-position: 20% top;
  width: 100%;
}

.trend-block-wrapper {
  position: absolute;
  top: 426px;
  right: 13%;
}

.trend-block__title {
  text-transform: uppercase;
  font-weight: 500;
}

.trend-block__trend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  line-height: 120px;
}

.trend-block__text {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 27px;
}

.trend-block__link {
  font-weight: 500;
  font-size: 18px;
  margin-right: 34px;
}

/*Category*/

.category {
  background-color: var(--basic_white);
  padding-top: 121px;
  padding-bottom: 111px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.category__name {
  position: absolute;
  top: 641px;
  left: 53%;
}

@media (max-width: 1172px) {
  .category__name {
    top: 67%;

  }
}

.category__images-wrapper {
  display: grid;
  grid-template-columns: 262px 262px 552px;
  column-gap: 25px;
  row-gap: 22px;
  justify-content: center;
}

/*.category__images-wrapper::after {
  content: "";
  background-image: url(../img/category/bg-category-img.png);
  display: block;
  width: 551px;
  height: 573px;
  position: absolute;
  top: 15.2%;
  left: 50.9%;
  z-index: 2;
}*/

@media (max-width: 1172px) {
  .category__images-wrapper {
    grid-template-columns: 262px 262px;
  }

  /*.category__images-wrapper::after {
    top: 30.7%;
    left: 25.9%;
  }*/
}

@media (max-width: 768px) {
  .category__images-wrapper {
    grid-template-columns: minmax(auto, 262px) minmax(auto, 262px);
  }
}

.category__image-man-1 {
  grid-column: span 2;
  padding-right: 5px;
  background-color: var(--special_gray);
  width: 551px;
  height: 268px;
}

.category__image-man-2 {
  grid-row: span 2;
  box-sizing: border-box;
  filter: brightness(50%);
  background-color: var(--special_gray);
  width: 552px;
  height: 574px;
}

@media (max-width: 1172px) {
  .category__image-man-2 {
    grid-column: span 2;
  }
}

.category__image-woman-1 {
  background-color: var(--special_gray);
  width: 262px;
  height: 265px;
}

.category__image-woman-2 {
  background-color: var(--special_gray);
  width: 261px;
  height: 265px;
}

/*Button*/

.button {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--basic_black-2);
  color: var(--basic_white);
  padding: 4px 25px;
  cursor: pointer;
  z-index: 3;
}

.button:hover,
.button:focus {
  background-color: var(--basic_black);
}

.button:active {
  opacity: 0.6;
}

.button--white {
  background-color: var(--basic_white);
  color: var(--basic_black-2);
}

.button--white:hover,
.button--white:focus {
  background-color: var(--special_gray);
}

.button--white:active {
  opacity: 0.6;
}

/*Selection*/

.selection {
  background-color: var(--basic_white);
  padding-left: 20px;
  padding-right: 20px;
}

.selection__for-womens {
  padding-bottom: 111px;
}

.selection__for-mans {
  padding-bottom: 110px;
}

.selection__title {
  text-align: center;
}

.selection__text {
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 65px;
}


.selection__list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
}

.selection__item img{
  background-color: var(--special_gray);
  width: 268px;
    height: 371px;
}

.selection__item-wrapper {
  font-size: 15px;
  line-height: 22.5px;
  position: relative;
}

.selection__item-wrapper h3 {
  font-weight: 300;
  padding-top: 38px;
  padding-bottom: 3px;
}

.selection__item-wrapper p {
  font-weight: 600;
  padding-bottom: 3px;
  max-width: 268px;
}

.selection__item-wrapper span {
  font-weight: 400;
  padding-left: 4px;
}

.selection__item-wrapper span::before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 66px;
  height: 1px;
  background: var(--basic_black-2);
  z-index: 2;
}

.selection__item-wrapper span::after {
  content: "$129.00";
  padding-left: 28px;
  text-decoration: none;
  color: var(--basic_red);
}

/*Block-styles*/

.block-styles {
  background-color: var(--basic_white);
  padding-bottom: 121px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1172px) {
  .block-styles {
    padding-bottom: 357px;
  }
}

@media (max-width: 768px) {
  .block-styles {
    padding-bottom: 121px;
  }
}

.block-styles__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 15px;
}

.block-styles__text {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 60px;
}

.block-styles__link {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 4px;
  position: absolute;
  right: 260px;
  top: 625px;
  border-bottom: 1px solid var(--basic_black-2);
  z-index: 2;
}

@media (max-width: 1172px) {
  .block-styles__link {
    right: 45%;
    top: 1250px;
  }
}

@media (max-width: 768px) {
  .block-styles__link {
    right: 25%;
    top: 1300px;
  }
}

.block-styles__link:hover,
.block-styles__link:focus {
  opacity: 0.6;
}

.block-styles__link:active {
  opacity: 0.3;
}

.block-styles__images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 689px;
  max-width: 1133px;
  position: relative;
}

@media (max-width: 1172px) {
  .block-styles__images {
    max-width: 600px;
    min-height: auto;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .block-styles__images {
    width: auto;
    justify-content: start;
  }
}

.block-styles__image-1 {
  align-self: flex-start;
  margin-right: 29px;
  background-color: var(--special_gray);
  width: 552px;
  height: 652px;
}

@media (max-width: 1172px) {
  .block-styles__image-1 {
    margin-right: 0;
    margin-bottom: 22px;
  }
}

.block-styles__image-2 {
  align-self: flex-start;
  background-color: var(--special_gray);
  width: 514px;
  height: 451px;
}

.block-styles__image-3 {
  align-self: flex-end;
  position: absolute;
  left: 78%;
  border-left: 22px solid var(--basic_white);
  border-top: 22px solid var(--basic_white);
  background-color: var(--special_gray);
  width: 227px;
  height: 281px;
  z-index: 2;
}

@media (max-width: 1172px) {
  .block-styles__image-3 {
    left: 55%;
    top: 94%;
  }
}

@media (max-width: 768px) {
  .block-styles__image-3 {
    position: relative;
    left: 0;
    top: 0;
    border-left: none;
    border-top: none;
    margin-top: 22px;
  }
}

/*Collection-link*/

.collection-link {
  font-weight: 500;
  background-color: var(--special_light_blue);
  line-height: 0;
  position: relative;
}

.collection-link img {
  height: 745px;
  object-fit: cover;
  object-position: right top;
  width: 100%;
}

.collection-link span {
  font-size: 80px;
  line-height: 120px;
  font-weight: 700;
}

.collection-link p {
  text-transform: uppercase;
}

.collection-link__wrapper {
  position: absolute;
  top: 434px;
  left: 230px;
}

/*Footer*/

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: dense;
  background-color: var(--basic_light_blue);
  padding-top: 115px;
  padding-bottom: 106px;
  padding-left: 228px;
  padding-right: 231px;
}

@media (max-width: 1172px) {
  .page-footer__wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .page-footer__wrapper {
    padding-left: 30px;
  padding-right: 30px;
  }
}

.page-footer__contacts {
  padding-right: 161px;
}

@media (max-width: 1172px) {
  .page-footer__contacts {
    padding-right: 0;
  }

}

.page-footer__contacts p,
.page-footer__contacts address,
.page-footer__contacts a,
.page-footer__contacts span {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
}

.page-footer__contacts p {
  padding-top: 17px;
  padding-bottom: 41px;
}

.page-footer__contacts address {
  font-style: normal;
  padding-bottom: 16px;
}

.page-footer__contacts a {
  border-bottom: solid 1px var(--basic_black);
  padding-bottom: 3px;
}

.page-footer__contacts span {
  display: block;
  padding-top: 7px;
  padding-bottom: 16px;
}

.page-footer__information {
  padding-left: 33px;
}

@media (max-width: 1172px) {
  .page-footer__information {
    padding-top: 60px;
    padding-left: 0;
  }
}

.page-footer__form {
  padding-bottom: 70px;
}

.page-footer__form form {
  position: relative;
}

.page-footer__form h2 {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 37.5px;
  font-weight: 700;
  padding-bottom: 24px;
}

.page-footer__form input {
  width: 100%;
  padding-top: 11px;
  padding-right: 60px;
  padding-bottom: 11px;
  padding-left: 24px;
  border: none;
  font-family: inherit;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  color: inherit;
  box-sizing: border-box;
  opacity: 1;
}

.page-footer__form button {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 600;
  border: none;
  background-color: inherit;
  position: absolute;
  padding: 0;
  right: 23px;
  top: 11px;
  cursor: pointer;
}

.page-footer__form button:hover,
.page-footer__form button:focus {
  opacity: 0.8;
}

.page-footer__form button:active {
  opacity: 0.3;
}

.page-footer__information-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__information-list {}

.page-footer__information-list h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 27px;
}

.page-footer__information-list li {
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  padding-bottom: 21px;
  white-space: nowrap;
}


.page-footer__copyright {
  padding: 35px 30px;
  background-color: var(--special_light_blue);
  text-align: center;
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
  border-radius: 0 0 60px 60px;
}
